# Algeria Data Cup by Temtem purchase prediction challenge
In this notebook, I am:
- Importing data
- Cleaning data
- Preparing data to be used in a prediction machine learning model
<br><br>
PS: You will find details about data files and columns in the <b>Read me</b> file

## Import packages and data
Packages used :<br>
- Pandas
- NumPy
- DataTime
- Matplotlib
- Plotly

In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import plotly
plotly.offline.init_notebook_mode(connected=True)
import plotly.graph_objs as go

In [2]:
train_set = pd.read_csv("Train.csv")
test_set = pd.read_csv("Test.csv")

## Get an overview of our data

In [3]:
train_set.sample(10)

,Order ID,Order Status,Category Name,Product Name,Quantity,Unit Price,Total Price,Sub Total,Delivery Charge,Payment Method,Customer ID,Merchant,Order Time,Customer Country,Purchase Again
15485,1718888621,COMPLETED,NaN,Raya Mixgillee 80G,1,230,230,17138,200200,CARD_PAY,5.438806e+06,23255526,2021-02-08 17:17:14,Algeria,1
4714,2344685454,COMPLETED,Pates et riz,AMOR BENAMOR torsades 500g,1,80,80,12546,200200,CARD_PAY,8.237578e+06,6158523,2021-01-13 19:49:18,Algeria,0
7585,162773000000,COMPLETED,NaN,SOS lentille 500g,1,130,130,8035,280280,CARD_PAY,5.939302e+06,7149870,2021-01-18 04:42:39,Algeria,1
8647,3441719321,REJECTED,NaN,Elio 5L,1,600,600,4735,200200,CASH_PAY,7.989415e+09,23255526,2021-01-19 18:52:03,Algeria,0
3880,223807000000,COMPLETED,NaN,ISIS liquide a main 900ml,2,220,440,18215,13001300,CARD_PAY,6.638488e+06,7149870,2021-01-12 17:40:42,Algeria,1
7191,4111122256,COMPLETED,NaN,Elio 5L,1,600,600,10519,200200,CARD_PAY,5.442172e+06,23255526,2021-01-17 12:41:17,Algeria,0
4040,1994433111,COMPLETED,The et cafe,Cafe 1001 250g,6,210,1260,31187,200200,CARD_PAY,8.209746e+06,6158523,2021-01-12 19:34:20,Algeria,0
15974,2930153877,COMPLETED,Mouton,CÃ´telette dans Filet 250 Gr,2,490,980,6040,280280,CARD_PAY,9.408065e+09,21309099,2021-02-09 22:31:36,Algeria,0
14804,3117957108,REJECTED,NaN,2 Fardeaux Coca-Cola,1,990,990,990,200200,CASH_PAY,6.336117e+09,23255526,2021-02-06 08:44:01,Algeria,1
5488,37073476571,CANCELLED,Conserves,Garrido haricot para marron 500g,1,175,175,14017,200200,CASH_PAY,1.444190e+10,6158523,2021-01-14 20:09:29,Algeria,0

In [4]:
test_set.sample(10)

,Order ID,Order Status,Category Name,Product Name,Quantity,Unit Price,Total Price,Sub Total,Delivery Charge,Payment Method,Customer ID,Merchant,Order Time,Customer Country
55,8241284,ACCEPTED,Conserves,JUMBO puree tom double consen 400g,1,140,140,14967,200200,CASH_PAY,8.273592e+06,6158523,2021-01-01 09:36:53,Algeria
11450,4455243458,COMPLETED,Farine et semoule,SIM semoule fine 2kg,1,130,130,5860,760760,CARD_PAY,6.907724e+06,7225386,2021-02-10 15:36:51,Algeria
10987,1501777134,COMPLETED,NaN,Oeufs,1,480,480,3915,310310,CARD_PAY,5.460932e+06,7149870,2021-02-07 14:07:29,Algeria
3958,1846309569,COMPLETED,Conserves,MANIS thon a la tomate 3*65g,1,205,205,17039,200200,CARD_PAY,5.440446e+06,6158523,2021-01-14 20:02:36,Algeria
7323,3144209323,COMPLETED,NaN,Wc One Gel Detartrant Wc Pin 750Ml,1,150,150,10672,430430,CARD_PAY,2.859867e+09,23255526,2021-01-22 17:22:50,Algeria
2661,488248000000,COMPLETED,Nettoyage,ISIS liquide machine 3L,2,699,1398,20743,200200,CASH_PAY,5.882272e+06,6158523,2021-01-10 19:29:11,Algeria
9568,2167083641,COMPLETED,NaN,DANONE CrÃ¨me Dessert Danette - Chocolat - 90 g,6,30,180,7550,520520,CARD_PAY,6.657160e+06,7149870,2021-02-02 11:24:33,Algeria
9439,36235979889,COMPLETED,Farine et semoule,SKOR sucre 5kg,1,435,435,7354,700700,CARD_PAY,6.326226e+06,7225386,2021-02-01 18:51:16,Algeria
10099,2132976371,COMPLETED,Fromage,LE berbere fromage 300g,2,200,400,7630,310310,CARD_PAY,6.341360e+06,7225386,2021-02-04 08:52:41,Algeria
3573,2514330175,COMPLETED,Lait,Loya lait en poudre boite 500g,1,435,435,6284,200200,CARD_PAY,7.262952e+06,6158523,2021-01-14 12:34:35,Algeria

In [5]:
train_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17761 entries, 0 to 17760
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          17761 non-null  int64
 1   Order Status      17761 non-null  object
 2   Category Name     9093 non-null   object
 3   Product Name      17761 non-null  object
 4   Quantity          17761 non-null  int64
 5   Unit Price        17761 non-null  object
 6   Total Price       17761 non-null  object
 7   Sub Total         17245 non-null  object
 8   Delivery Charge   17731 non-null  object
 9   Payment Method    17326 non-null  object
 10  Customer ID       17263 non-null  float64
 11  Merchant          17761 non-null  int64
 12  Order Time        17761 non-null  object
 13  Customer Country  17714 non-null  object
 14  Purchase Again    17761 non-null  int64
dtypes: float64(1), int64(4), object(10)
memory usage: 2.0+ MB

<br>This is a function I use to summarize information about my set :

In [6]:
def summary(data) : 
    """ Take a pandas dataframe an create a summary about missing values """
    result = (pd.DataFrame(data.dtypes, columns=["Data type"]).reset_index().rename(columns={'index': 'Column'}))
    result.loc[:, "null"] = data.isna().sum().values
    result.loc[:, "%null"] = np.round(data.isna().sum().values / data.shape[0] * 100, decimals=2)
    return result

In [7]:
summary(train_set)

              Column Data type  null  %null
0           Order ID     int64     0   0.00
1       Order Status    object     0   0.00
2      Category Name    object  8668  48.80
3       Product Name    object     0   0.00
4           Quantity     int64     0   0.00
5         Unit Price    object     0   0.00
6        Total Price    object     0   0.00
7          Sub Total    object   516   2.91
8    Delivery Charge    object    30   0.17
9     Payment Method    object   435   2.45
10       Customer ID   float64   498   2.80
11          Merchant     int64     0   0.00
12        Order Time    object     0   0.00
13  Customer Country    object    47   0.26
14    Purchase Again     int64     0   0.00

In [8]:
summary(test_set)

              Column Data type  null  %null
0           Order ID     int64     0   0.00
1       Order Status    object     0   0.00
2      Category Name    object  6014  50.06
3       Product Name    object     0   0.00
4           Quantity     int64     0   0.00
5         Unit Price    object     0   0.00
6        Total Price    object     0   0.00
7          Sub Total    object   148   1.23
8    Delivery Charge    object     1   0.01
9     Payment Method    object   101   0.84
10       Customer ID   float64     0   0.00
11          Merchant     int64     0   0.00
12        Order Time    object     0   0.00
13  Customer Country    object    32   0.27

#### Observations :
- The two sets have the same columns => We concatenate them. 
- We have to group by Customer because he is the topic of our challenge. 
- `Category Name` column has too many missing values in bouth sets.

In [9]:
test_set.index=test_set.index + train_set.shape[0]
test_set.head()

,Order ID,Order Status,Category Name,Product Name,Quantity,Unit Price,Total Price,Sub Total,Delivery Charge,Payment Method,Customer ID,Merchant,Order Time,Customer Country
17761,8236741,COMPLETED,Chocolat,NUTELLA 750g,2,1390,2780,4740,550550,CARD_PAY,8392444.0,7225386,2021-01-01 00:40:42,Algeria
17762,8236741,COMPLETED,Chocolat,MILKA chocolat extra cacao 100g,1,210,210,4740,550550,CARD_PAY,8392444.0,7225386,2021-01-01 00:40:42,Algeria
17763,8236741,COMPLETED,Chocolat,MILKA strawberry 100g,1,210,210,4740,550550,CARD_PAY,8392444.0,7225386,2021-01-01 00:40:42,Algeria
17764,8236741,COMPLETED,Chocolat,LINDT les grandes noisette,1,900,900,4740,550550,CARD_PAY,8392444.0,7225386,2021-01-01 00:40:42,Algeria
17765,8236741,COMPLETED,Boisson,IFRI eau minerale 1.5l x 6,2,170,340,4740,550550,CARD_PAY,8392444.0,7225386,2021-01-01 00:40:42,Algeria

In [10]:
all_data = pd.concat([train_set.drop(labels="Purchase Again", axis=1), test_set])
all_data.head()

,Order ID,Order Status,Category Name,Product Name,Quantity,Unit Price,Total Price,Sub Total,Delivery Charge,Payment Method,Customer ID,Merchant,Order Time,Customer Country
0,8236617,DEFAULT,Promotions,03 fardeaux Ifri + 1 offert,30,480,14400,43650,200200,CASH_PAY,8392354.0,6158523,2021-01-01 00:26:48,Algeria
1,8236617,DEFAULT,Promotions,3 fardeaux coca achetes = 1 fardeau offert,15,1800,27000,43650,200200,CASH_PAY,8392354.0,6158523,2021-01-01 00:26:48,Algeria
2,8236617,DEFAULT,Promotions,Snickers mini cube 200g,5,450,2250,43650,200200,CASH_PAY,8392354.0,6158523,2021-01-01 00:26:48,Algeria
3,8236624,COMPLETED,Paves,Pave chocolat,3,100,300,1460,700700,CARD_PAY,6359544.0,17654385,2021-01-01 00:27:29,Algeria
4,8236624,COMPLETED,Tartes,Tarte citron,3,100,300,1460,700700,CARD_PAY,6359544.0,17654385,2021-01-01 00:27:29,Algeria

In [11]:
summary(all_data)

              Column Data type   null  %null
0           Order ID     int64      0   0.00
1       Order Status    object      0   0.00
2      Category Name    object  14682  49.31
3       Product Name    object      0   0.00
4           Quantity     int64      0   0.00
5         Unit Price    object      0   0.00
6        Total Price    object      0   0.00
7          Sub Total    object    664   2.23
8    Delivery Charge    object     31   0.10
9     Payment Method    object    536   1.80
10       Customer ID   float64    498   1.67
11          Merchant     int64      0   0.00
12        Order Time    object      0   0.00
13  Customer Country    object     79   0.27

## Cleaning Data

### `Customer ID` column 
We dont need data of unknown customers.<br>
But an <b>Order ID</b> has always a single <b>Customer ID</b><br>

In [12]:
orders = all_data[all_data["Customer ID"].isna()]["Order ID"].unique()
indexes = all_data[all_data["Customer ID"].isna()].index
for index in indexes :
    order = all_data.loc[index, "Order ID"]
    a = all_data[all_data["Order ID"]==order]["Customer ID"].mode().values
    if len(a) != 0 & order in orders :
        all_data.loc[index, "Customer ID"] = a
all_data["Customer ID"].isna().sum()

498

Oops It didnt work.<br>
Now, I have to delete missing values in the `Customer ID` column.

In [13]:
all_data = all_data.drop(labels=all_data[all_data["Customer ID"].isna()].index, axis=0)

### `Category Name` column 
There is too much missing values.<br>
I decided to <b>drop</b> it<br>

In [14]:
all_data = all_data.drop(labels="Category Name", axis=1)

### `Order Status` column
We should make it categorical

In [15]:
all_data["Order Status"].unique()

array(['DEFAULT', 'COMPLETED', 'REJECTED', 'ACCEPTED', 'CANCELLED',
       'SEND_TO_TMS'], dtype=object)

In [16]:
categories = ['DEFAULT', 'COMPLETED', 'REJECTED', 'ACCEPTED', 'CANCELLED','SEND_TO_TMS']
i = 0
for category in categories :
    all_data["Order Status"] = all_data["Order Status"].replace(category, i)
    i = i+1

In [17]:
order = all_data["Order Status"].value_counts()
d = [go.Bar(
        x = order.index, # index = category name
        y = order.values, # value = count
)]
# plotly.offline.iplot(d)

<img src="newplot.png"><br>

<br>The status <b>COMPLETED</b> is too more present than other status.

In [18]:
p = np.round(len(all_data[all_data["Order Status"] == 1]) / all_data.shape[0] * 100, 2)
print("The completed status is present by", p, "% in the data")

The completed status is present by 82.37 % in the data

I replaced all other status by 0.<br>
So it wil be <b>`1` for completed</b> orders and <b>`0` for non-completed</b> orders.

In [19]:
numbers = [2,3,4,5]
for number in numbers :
    all_data["Order Status"] = all_data["Order Status"].replace(number, 0)

In [20]:
order = all_data["Order Status"].value_counts()
d = [go.Bar(
        x = order.index, # index = category name
        y = order.values, # value = count
)]
# plotly.offline.iplot(d)

<img src="newplot (1).png"><br>

### `Unit Price` & `Total Price` columns
These columns should be in a numeric type and we should correct invalid values

In [21]:
all_data[pd.to_numeric(all_data["Unit Price"], errors='coerce').isna()]["Unit Price"].unique()

array(['01 Feb 4831 00:00:00', '44,317.00', '01 May 2021 00:00:00',
       '12 May 2021 00:00:00', '22 May 2021 00:00:00',
       '01 Feb 7823 00:00:00', '01 Feb 2631 00:00:00',
       '27 May 2021 00:00:00', '02 Jan 2021 00:00:00',
       '03 Dec 2021 00:00:00', '07 Nov 2021 00:00:00',
       '01 Mar 2021 00:00:00', '01 Feb 4127 00:00:00',
       '01 Feb 2021 00:00:00', '01 Feb 8439 00:00:00',
       '01 Feb 4391 00:00:00', '01 Feb 7031 00:00:00',
       '01 Feb 6943 00:00:00', '01 Feb 5887 00:00:00',
       '01 Feb 5447 00:00:00', '01 Feb 5271 00:00:00'], dtype=object)

In [22]:
all_data[pd.to_numeric(all_data["Total Price"], errors='coerce').isna()]["Total Price"].unique()

array(['01 May 2992 00:00:00', '01 May 2312 00:00:00',
       '01 Feb 7823 00:00:00', '01 Apr 5262 00:00:00',
       '01 Feb 4831 00:00:00', '04 Feb 2021 00:00:00',
       '08 Jan 2021 00:00:00', '03 Dec 2021 00:00:00',
       '07 Nov 2021 00:00:00', '01 May 2021 00:00:00',
       '01 May 3277 00:00:00', '03 Sep 2021 00:00:00',
       '01 Feb 4127 00:00:00', '07 Aug 2021 00:00:00',
       '01 Feb 2021 00:00:00', '01 Feb 8439 00:00:00',
       '01 Feb 2631 00:00:00', '01 Feb 4391 00:00:00',
       '01 Feb 7031 00:00:00', '01 Feb 6943 00:00:00',
       '01 Feb 5887 00:00:00', '01 Feb 5447 00:00:00',
       '01 Feb 5271 00:00:00'], dtype=object)

<br>I am going to replace incorrect values with NaN and then deal with them

In [23]:
all_data["Unit Price"] = all_data["Unit Price"].str.replace(",", ".")
all_data["Unit Price"] = (pd.to_numeric(all_data["Unit Price"], errors='coerce'))
all_data[all_data["Unit Price"].isna()]

,Order ID,Order Status,Product Name,Quantity,Unit Price,Total Price,Sub Total,Delivery Charge,Payment Method,Customer ID,Merchant,Order Time,Customer Country
1185,8299320,0,Batteur Seb Prep'line - HT410121 - Blanc,4,NaN,19324.8,19324.8,150150,CASH,5.579268e+06,21926604,2021-01-04 09:10:51,Algeria
2091,8346601,1,Bimo galette senior 300g,4,NaN,6,8.84,05 Sep 2021 00:00:0005 Sep 2021 00:00:00,CARD_PAY,5.554728e+06,20152545,2021-01-06 17:28:27,France
6447,2466371431,1,Bimo galette senior 300g,10,NaN,15,25.85,05 Sep 2021 00:00:0005 Sep 2021 00:00:00,CARD_PAY,5.554728e+06,20152545,2021-01-16 07:31:24,France
8663,12316156395,1,Oignon 250 gr,6,NaN,75,01 May 5556 00:00:00,22302230,CARD_PAY,7.821032e+06,17021214,2021-01-19 19:19:33,Algeria
8665,12316156395,1,Pommes de terre 250gr,8,NaN,180,01 May 5556 00:00:00,22302230,CARD_PAY,7.821032e+06,17021214,2021-01-19 19:19:33,Algeria
10351,3682123037,1,Fer A Repasser Tefal Turbopro Anti Calcaire - ...,1,NaN,01 Feb 7823 00:00:00,01 Feb 7823 00:00:00,150150,CARD_PAY,5.439884e+06,21926604,2021-01-23 18:20:14,Algeria
10992,1740912497,1,Balance de Cuisine Tefal Optiss - BC5002V2 - Vert,2,NaN,01 Apr 5262 00:00:00,22140.8,450450,CASH_PAY,8.082872e+06,21926604,2021-01-25 18:55:10,Algeria
10993,1740912497,1,Batteur Seb Prep'line - HT410121 - Blanc,1,NaN,01 Feb 4831 00:00:00,22140.8,450450,CASH_PAY,8.082872e+06,21926604,2021-01-25 18:55:10,Algeria
11303,18379598207,1,Pommes de terre 250gr,14,NaN,385,01 May 5232 00:00:00,12401240,CARD_PAY,5.182902e+06,17021214,2021-01-26 14:48:02,Algeria
11305,18379598207,1,Oignon 250 gr,7,NaN,87.5,01 May 5232 00:00:00,12401240,CARD_PAY,5.182902e+06,17021214,2021-01-26 14:48:02,Algeria
11771,7914757300,1,Pommes de terre 250gr,8,NaN,220,3727,250250,CARD_PAY,3.560980e+09,17021214,2021-01-27 11:49:21,Algeria
11775,7914757300,1,Oignon 250 gr,4,NaN,50,3727,250250,CARD_PAY,3.560980e+09,17021214,2021-01-27 11:49:21,Algeria
11960,2164343190,1,Oignon 250 gr,2,NaN,25,1921,370370,CARD_PAY,5.684662e+09,17021214,2021-01-28 12:17:03,Algeria
11964,2164343190,1,Pommes de terre 250gr,4,NaN,110,1921,370370,CARD_PAY,5.684662e+09,17021214,2021-01-28 12:17:03,Algeria
13394,2019949723,1,Semoule de ble moyenne LE RENARD 1kg,3,NaN,6.029999999999999,49.099999999999994,05 Sep 2021 00:00:0005 Sep 2021 00:00:00,CARD_PAY,6.115922e+06,20152545,2021-02-01 23:07:28,France
13395,2019949723,1,Semoule de ble extra fine LE RENARD 1kg,2,NaN,04 Feb 2021 00:00:00,49.099999999999994,05 Sep 2021 00:00:0005 Sep 2021 00:00:00,CARD_PAY,6.115922e+06,20152545,2021-02-01 23:07:28,France
13399,2019949723,1,Legumor haricot rouge 1kg,1,NaN,03 Dec 2021 00:00:00,49.099999999999994,05 Sep 2021 00:00:0005 Sep 2021 00:00:00,CARD_PAY,6.115922e+06,20152545,2021-02-01 23:07:28,France
13403,2019949723,1,Huile d'Olive Vierge MABROUKA 1L,1,NaN,07 Nov 2021 00:00:00,49.099999999999994,05 Sep 2021 00:00:0005 Sep 2021 00:00:00,CARD_PAY,6.115922e+06,20152545,2021-02-01 23:07:28,France
13406,2019949723,1,Bimo Double Mix 200g,1,NaN,01 May 2021 00:00:00,49.099999999999994,05 Sep 2021 00:00:0005 Sep 2021 00:00:00,CARD_PAY,6.115922e+06,20152545,2021-02-01 23:07:28,France
13582,2264440605,1,Epices melange cuisine orientale Samia 100g,3,NaN,03 Sep 2021 00:00:00,4.609999999999999,05 Sep 2021 00:00:0005 Sep 2021 00:00:00,CARD_PAY,5.262768e+06,20152545,2021-02-02 15:00:56,France
14571,6241107503,1,Mini Hachoir 3En1 Moulinex Multi Moulinette - ...,1,NaN,01 Feb 4127 00:00:00,01 Feb 4127 00:00:00,150150,CARD_PAY,4.562638e+06,21926604,2021-02-05 11:20:20,Algeria
14838,2158466286,1,Batteur Seb Prep'line - HT410121 - Blanc,1,NaN,01 Feb 4831 00:00:00,01 Feb 4831 00:00:00,450450,CASH_PAY,9.659323e+09,21926604,2021-02-06 09:19:35,Algeria
14933,38947375744,1,Bimo galette senior 300g,1,NaN,01 May 2021 00:00:00,19.81,05 Sep 2021 00:00:0005 Sep 2021 00:00:00,CARD_PAY,5.457692e+06,20152545,2021-02-06 14:47:46,France
15599,11998197155,1,Bimo galette senior 300g,2,NaN,3,29.42,05 Sep 2021 00:00:0005 Sep 2021 00:00:00,CARD_PAY,5.442228e+06,20152545,2021-02-08 20:21:21,France
15600,11998197155,1,Bimo pesosÂ 200g,2,NaN,3,29.42,05 Sep 2021 00:00:0005 Sep 2021 00:00:00,CARD_PAY,5.442228e+06,20152545,2021-02-08 20:21:21,France
15609,11998197155,1,Paprika doux Samia 100g,1,NaN,01 Feb 2021 00:00:00,29.42,05 Sep 2021 00:00:0005 Sep 2021 00:00:00,CARD_PAY,5.442228e+06,20152545,2021-02-08 20:21:21,France
15651,1826711133,0,Lisseur Remington Keratin Intelligent Protect ...,1,NaN,01 Feb 8439 00:00:00,01 Feb 8439 00:00:00,150150,CASH_PAY,4.535460e+06,21926604,2021-02-08 21:13:25,Algeria
16669,2399980482,0,Balance de Cuisine Tefal Optiss - BC5001V2 - O...,1,NaN,01 Feb 2631 00:00:00,01 Feb 2631 00:00:00,150150,CASH_PAY,4.118636e+06,21926604,2021-02-13 12:21:24,Algeria
17420,2729387317,1,Oignon 250 gr,20,NaN,250,4901,310310,CARD_PAY,8.175168e+06,17021214,2021-02-14 08:32:26,Algeria
18296,8279311,1,Batteur Seb Prep'line - HT410121 - Blanc,1,NaN,01 Feb 4831 00:00:00,01 Apr 9222 00:00:00,590590,CASH,5.410766e+06,21926604,2021-01-03 11:01:23,Algeria
18297,8279311,1,Bras Mixeur Moulinex - DD471A10 - Ivoire - Pie...,1,NaN,01 Feb 4391 00:00:00,01 Apr 9222 00:00:00,590590,CASH,5.410766e+06,21926604,2021-01-03 11:01:23,Algeria
20390,167552000000,1,Cuiseur Vapeur Seb Mini Compact - VC130B00 - Gris,1,NaN,01 Feb 7031 00:00:00,01 Feb 7031 00:00:00,150150,CARD_PAY,8.033988e+06,21926604,2021-01-10 17:13:42,Saudi Arabia
21283,3661233955,1,Bimo galette senior 300g,4,NaN,6,6,05 Sep 2021 00:00:0005 Sep 2021 00:00:00,CARD_PAY,7.409552e+06,20152545,2021-01-14 07:10:40,France
21287,6516339398,1,Pommes de terre 250gr,2,NaN,45,892.5,340340,CASH_PAY,4.733500e+06,17021214,2021-01-14 08:53:19,Algeria
21289,6516339398,1,Oignon 250 gr,2,NaN,25,892.5,340340,CASH_PAY,4.733500e+06,17021214,2021-01-14 08:53:19,Algeria
23197,1380013150,1,Pommes de terre 250gr,12,NaN,270,2804,310310,CARD_PAY,5.756026e+06,17021214,2021-01-17 15:39:54,Algeria
23199,1380013150,1,Oignon 250 gr,2,NaN,25,2804,310310,CARD_PAY,5.756026e+06,17021214,2021-01-17 15:39:54,Algeria
23975,2269646756,1,CafetiÃ¨re Filtre Moulinex Subito FG370D11 - R...,1,NaN,01 Feb 4831 00:00:00,01 Feb 4831 00:00:00,580580,CARD_PAY,7.114168e+06,21926604,2021-01-19 17:58:41,Algeria
24490,1437489033,1,Oignon 250 gr,30,NaN,375,4176,520520,CARD_PAY,5.873868e+06,17021214,2021-01-20 21:31:40,Algeria
24493,1437489033,1,Pommes de terre 250gr,30,NaN,675,4176,520520,CARD_PAY,5.873868e+06,17021214,2021-01-20 21:31:40,Algeria
24506,1612737197,1,Bras Mixeur Moulinex Robot Marie Original - DD...,1,NaN,01 Feb 6943 00:00:00,01 Feb 6943 00:00:00,150150,CARD_PAY,6.371662e+06,21926604,2021-01-20 22:15:29,Algeria
24972,11969341020,1,Fer A Boucler Calor Multistyler 14 - CF4132,1,NaN,01 Feb 5887 00:00:00,5887.200000000001,28902890,CASH_PAY,4.641591e+10,21926604,2021-01-22 09:49:37,Algeria
25843,2775711507,1,Oignon 250 gr,12,NaN,150,5176,670670,CARD_PAY,6.695442e+06,17021214,2021-01-25 10:20:16,Algeria
25854,2775711507,1,Pommes de terre 250gr,12,NaN,330,5176,670670,CARD_PAY,6.695442e+06,17021214,2021-01-25 10:20:16,Algeria
25860,6524251584,1,Pommes de terre 250gr,12,NaN,330,2697,17501750,CARD_PAY,7.809062e+06,17021214,2021-01-25 10:57:45,Algeria
25863,6524251584,1,Oignon 250 gr,8,NaN,100,2697,17501750,CARD_PAY,7.809062e+06,17021214,2021-01-25 10:57:45,Algeria
26193,7240522241,1,Oignon 250 gr,8,NaN,100,2600,17501750,CARD_PAY,4.293029e+09,17021214,2021-01-27 11:39:06,Algeria
26196,7240522241,1,Pommes de terre 250gr,20,NaN,550,2600,17501750,CARD_PAY,4.293029e+09,17021214,2021-01-27 11:39:06,Algeria
26356,5239662580,1,Pommes de terre 250gr,8,NaN,220,3317,580580,CARD_PAY,8.186884e+06,17021214,2021-01-27 22:20:53,Algeria
26360,5239662580,1,Oignon 250 gr,8,NaN,100,3317,580580,CARD_PAY,8.186884e+06,17021214,2021-01-27 22:20:53,Algeria
26831,3606592585,0,Bras Mixeur Moulinex Easychef - DD45A110 -Pied...,1,NaN,01 Feb 4391 00:00:00,01 Feb 4391 00:00:00,390390,CARD_PAY,8.102448e+06,21926604,2021-01-29 17:06:22,France
27622,3622862274,1,Pommes de terre 250gr,20,NaN,550,5813,12401240,CARD_PAY,5.153586e+06,17021214,2021-02-03 11:28:50,Algeria
27632,3622862274,1,Oignon 250 gr,10,NaN,125,5813,12401240,CARD_PAY,5.153586e+06,17021214,2021-02-03 11:28:50,Algeria
28441,12521320561,1,Bimo galette senior 300g,6,NaN,9,14.61,05 Sep 2021 00:00:0005 Sep 2021 00:00:00,CARD_PAY,7.729196e+06,20152545,2021-02-06 13:15:20,France
29163,12163276982,1,Faitout Tefal Expertise 24 Cm/5L - Noir,1,NaN,01 Feb 5447 00:00:00,01 Feb 5447 00:00:00,590590,CASH_PAY,2.596192e+09,21926604,2021-02-09 18:42:02,Algeria
29175,3537928243,0,Batteur 3 en 1 Seb Prepline - HT411100 - Blanc,1,NaN,01 Feb 5887 00:00:00,01 Feb 5887 00:00:00,490490,CASH_PAY,6.130306e+06,21926604,2021-02-09 22:27:49,Algeria
29284,2432084055,1,Mini Hachoir 5en1 Moulinex Moulinette - AT7221...,1,NaN,01 Feb 5271 00:00:00,01 Apr 6142 00:00:00,150150,CASH_PAY,7.656978e+06,21926604,2021-02-11 10:06:16,Algeria
29448,3426317424,1,Mini Hachoir 3En1 Moulinex Multi Moulinette - ...,1,NaN,01 Feb 4127 00:00:00,01 Feb 4127 00:00:00,490490,CASH_PAY,6.652760e+09,21926604,2021-02-12 19:45:41,Algeria

In [24]:
all_data["Total Price"] = (pd.to_numeric(all_data["Total Price"], errors='coerce'))
all_data[all_data["Total Price"].isna()]

,Order ID,Order Status,Product Name,Quantity,Unit Price,Total Price,Sub Total,Delivery Charge,Payment Method,Customer ID,Merchant,Order Time,Customer Country
3985,307439000000,1,Foie de mouton 250 Gr,3,997.50,NaN,01 May 9127 00:00:00,26802680,CASH_PAY,8.383188e+06,17934462,2021-01-12 18:41:43,Algeria
6754,6352151749,1,Viande hachee 250 Gr,5,462.50,NaN,18602.5,10601060,CARD_PAY,6.258220e+06,8069691,2021-01-16 13:16:23,Algeria
10351,3682123037,1,Fer A Repasser Tefal Turbopro Anti Calcaire - ...,1,NaN,NaN,01 Feb 7823 00:00:00,150150,CARD_PAY,5.439884e+06,21926604,2021-01-23 18:20:14,Algeria
10992,1740912497,1,Balance de Cuisine Tefal Optiss - BC5002V2 - Vert,2,NaN,NaN,22140.8,450450,CASH_PAY,8.082872e+06,21926604,2021-01-25 18:55:10,Algeria
10993,1740912497,1,Batteur Seb Prep'line - HT410121 - Blanc,1,NaN,NaN,22140.8,450450,CASH_PAY,8.082872e+06,21926604,2021-01-25 18:55:10,Algeria
13395,2019949723,1,Semoule de ble extra fine LE RENARD 1kg,2,NaN,NaN,49.099999999999994,05 Sep 2021 00:00:0005 Sep 2021 00:00:00,CARD_PAY,6.115922e+06,20152545,2021-02-01 23:07:28,France
13396,2019949723,1,Couscous Dari Moyen 1kg,3,2.67,NaN,49.099999999999994,05 Sep 2021 00:00:0005 Sep 2021 00:00:00,CARD_PAY,6.115922e+06,20152545,2021-02-01 23:07:28,France
13399,2019949723,1,Legumor haricot rouge 1kg,1,NaN,NaN,49.099999999999994,05 Sep 2021 00:00:0005 Sep 2021 00:00:00,CARD_PAY,6.115922e+06,20152545,2021-02-01 23:07:28,France
13403,2019949723,1,Huile d'Olive Vierge MABROUKA 1L,1,NaN,NaN,49.099999999999994,05 Sep 2021 00:00:0005 Sep 2021 00:00:00,CARD_PAY,6.115922e+06,20152545,2021-02-01 23:07:28,France
13406,2019949723,1,Bimo Double Mix 200g,1,NaN,NaN,49.099999999999994,05 Sep 2021 00:00:0005 Sep 2021 00:00:00,CARD_PAY,6.115922e+06,20152545,2021-02-01 23:07:28,France
13549,20537719567,1,Entrecote sans os 250 Gr,5,655.50,NaN,01 May 5827 00:00:00,640640,CARD_PAY,8.214282e+06,8069691,2021-02-02 12:01:18,Algeria
13582,2264440605,1,Epices melange cuisine orientale Samia 100g,3,NaN,NaN,4.609999999999999,05 Sep 2021 00:00:0005 Sep 2021 00:00:00,CARD_PAY,5.262768e+06,20152545,2021-02-02 15:00:56,France
14571,6241107503,1,Mini Hachoir 3En1 Moulinex Multi Moulinette - ...,1,NaN,NaN,01 Feb 4127 00:00:00,150150,CARD_PAY,4.562638e+06,21926604,2021-02-05 11:20:20,Algeria
14838,2158466286,1,Batteur Seb Prep'line - HT410121 - Blanc,1,NaN,NaN,01 Feb 4831 00:00:00,450450,CASH_PAY,9.659323e+09,21926604,2021-02-06 09:19:35,Algeria
14933,38947375744,1,Bimo galette senior 300g,1,NaN,NaN,19.81,05 Sep 2021 00:00:0005 Sep 2021 00:00:00,CARD_PAY,5.457692e+06,20152545,2021-02-06 14:47:46,France
15601,11998197155,1,CrÃ¨me chantilly nature 150g DR-OETKER,3,2.36,NaN,29.42,05 Sep 2021 00:00:0005 Sep 2021 00:00:00,CARD_PAY,5.442228e+06,20152545,2021-02-08 20:21:21,France
15609,11998197155,1,Paprika doux Samia 100g,1,NaN,NaN,29.42,05 Sep 2021 00:00:0005 Sep 2021 00:00:00,CARD_PAY,5.442228e+06,20152545,2021-02-08 20:21:21,France
15651,1826711133,0,Lisseur Remington Keratin Intelligent Protect ...,1,NaN,NaN,01 Feb 8439 00:00:00,150150,CASH_PAY,4.535460e+06,21926604,2021-02-08 21:13:25,Algeria
16018,2001027749,1,Foie de mouton 250 Gr,3,997.50,NaN,11487.5,610610,CARD_PAY,5.252060e+06,17934462,2021-02-10 10:25:18,Algeria
16669,2399980482,0,Balance de Cuisine Tefal Optiss - BC5001V2 - O...,1,NaN,NaN,01 Feb 2631 00:00:00,150150,CASH_PAY,4.118636e+06,21926604,2021-02-13 12:21:24,Algeria
18296,8279311,1,Batteur Seb Prep'line - HT410121 - Blanc,1,NaN,NaN,01 Apr 9222 00:00:00,590590,CASH,5.410766e+06,21926604,2021-01-03 11:01:23,Algeria
18297,8279311,1,Bras Mixeur Moulinex - DD471A10 - Ivoire - Pie...,1,NaN,NaN,01 Apr 9222 00:00:00,590590,CASH,5.410766e+06,21926604,2021-01-03 11:01:23,Algeria
20390,167552000000,1,Cuiseur Vapeur Seb Mini Compact - VC130B00 - Gris,1,NaN,NaN,01 Feb 7031 00:00:00,150150,CARD_PAY,8.033988e+06,21926604,2021-01-10 17:13:42,Saudi Arabia
23975,2269646756,1,CafetiÃ¨re Filtre Moulinex Subito FG370D11 - R...,1,NaN,NaN,01 Feb 4831 00:00:00,580580,CARD_PAY,7.114168e+06,21926604,2021-01-19 17:58:41,Algeria
24506,1612737197,1,Bras Mixeur Moulinex Robot Marie Original - DD...,1,NaN,NaN,01 Feb 6943 00:00:00,150150,CARD_PAY,6.371662e+06,21926604,2021-01-20 22:15:29,Algeria
24972,11969341020,1,Fer A Boucler Calor Multistyler 14 - CF4132,1,NaN,NaN,5887.200000000001,28902890,CASH_PAY,4.641591e+10,21926604,2021-01-22 09:49:37,Algeria
26831,3606592585,0,Bras Mixeur Moulinex Easychef - DD45A110 -Pied...,1,NaN,NaN,01 Feb 4391 00:00:00,390390,CARD_PAY,8.102448e+06,21926604,2021-01-29 17:06:22,France
27905,5920830023,1,Foie de mouton 250 Gr,3,997.50,NaN,01 May 5892 00:00:00,12401240,CARD_PAY,8.026946e+06,17934462,2021-02-04 12:22:47,Algeria
29163,12163276982,1,Faitout Tefal Expertise 24 Cm/5L - Noir,1,NaN,NaN,01 Feb 5447 00:00:00,590590,CASH_PAY,2.596192e+09,21926604,2021-02-09 18:42:02,Algeria
29175,3537928243,0,Batteur 3 en 1 Seb Prepline - HT411100 - Blanc,1,NaN,NaN,01 Feb 5887 00:00:00,490490,CASH_PAY,6.130306e+06,21926604,2021-02-09 22:27:49,Algeria
29284,2432084055,1,Mini Hachoir 5en1 Moulinex Moulinette - AT7221...,1,NaN,NaN,01 Apr 6142 00:00:00,150150,CASH_PAY,7.656978e+06,21926604,2021-02-11 10:06:16,Algeria
29448,3426317424,1,Mini Hachoir 3En1 Moulinex Multi Moulinette - ...,1,NaN,NaN,01 Feb 4127 00:00:00,490490,CASH_PAY,6.652760e+09,21926604,2021-02-12 19:45:41,Algeria

There is a relashion between `Unit Price` and `Total Price` and it is: <br> <br>
 <b>Total Price = Unit Price * Quantity</b>

In [25]:
indexes = all_data[(all_data["Unit Price"].isna()) & (all_data["Total Price"].notnull())].loc[:, "Unit Price"].index
for index in indexes :
    all_data.loc[index, "Unit Price"] = all_data.loc[index, "Total Price"] / all_data.loc[index, "Quantity"]

In [26]:
indexes1 = all_data[(all_data["Unit Price"].notnull()) & (all_data["Total Price"].isna())].loc[:, "Total Price"].index
for index in indexes1 :
    all_data.loc[index, "Total Price"] = all_data.loc[index, "Unit Price"] * all_data.loc[index, "Quantity"]

In [27]:
t = len(all_data[(all_data["Unit Price"].isna()) & (all_data["Total Price"].isna())])
print("Rows still with NaN values in price : ", t)

Rows still with NaN values in price :  25

There is 25 rows where `Unit Price` and `Total Price` are both missing.<br>
A product has only one price. So, I will replace `Unit Price` in some rows with their products' price from other rows.<br> And then replace `Total Price` with the relation with Quantity.

In [28]:
product_index = all_data[(all_data["Unit Price"].isna()) & (all_data["Total Price"].isna())].index
dos = pd.DataFrame(all_data.groupby("Product Name")["Unit Price"].mean())
dos = dos[dos["Unit Price"].notnull()]
products = dos.index
for index in product_index :
    product = all_data.loc[index, "Product Name"]
    if product in products :
        all_data.loc[index, "Unit Price"] = dos.loc[product, "Unit Price"]
all_data["Unit Price"].isna().sum()

21

In [29]:
indexes1 = all_data[(all_data["Unit Price"].notnull()) & (all_data["Total Price"].isna())].loc[:, "Total Price"].index
for index in indexes1 :
    all_data.loc[index, "Total Price"] = all_data.loc[index, "Unit Price"] * all_data.loc[index, "Quantity"]

In [30]:
t = len(all_data[(all_data["Unit Price"].isna()) & (all_data["Total Price"].isna())])
print("Rows still with NaN values in price : ", t)

Rows still with NaN values in price :  21

We still have 21 rows with `Unit Price` and `Total Price` both missing.<br>
Now, I have to replace Unit price with the average price and then calculate Total price with the relation with quantity.

In [31]:
all_data["Unit Price"] = all_data["Unit Price"].fillna(all_data["Unit Price"].mean())
all_data["Unit Price"].isna().sum()

0

In [32]:
indexes1 = all_data[(all_data["Unit Price"].notnull()) & (all_data["Total Price"].isna())].loc[:, "Total Price"].index
for index in indexes1 :
    all_data.loc[index, "Total Price"] = all_data.loc[index, "Unit Price"] * all_data.loc[index, "Quantity"]
all_data["Total Price"].isna().sum()

0

### `Sub Total` column
It should be in a numeric type and we have to replace missing values

In [33]:
all_data[pd.to_numeric(all_data["Sub Total"], errors='coerce').isna()]["Sub Total"].unique()

array([nan, '01 May 3012 00:00:00', '01 May 5022 00:00:00',
       '01 May 6042 00:00:00', '01 May 6672 00:00:00',
       '01 May 9127 00:00:00', '01 May 5813 00:00:00',
       '01 May 5297 00:00:00', '01 May 5556 00:00:00',
       '01 May 4273 00:00:00', '01 May 2602 00:00:00',
       '01 Feb 7823 00:00:00', '01 May 3437 00:00:00',
       '01 May 5232 00:00:00', '01 May 2887 00:00:00',
       '01 May 2301 00:00:00', '01 May 6252 00:00:00',
       '01 May 5827 00:00:00', '01 May 3324 00:00:00',
       '01 Feb 4127 00:00:00', '01 Feb 4831 00:00:00',
       '01 May 7322 00:00:00', '01 Feb 8439 00:00:00',
       '01 Feb 2631 00:00:00', '01 May 3532 00:00:00',
       '01 Apr 9222 00:00:00', '01 Feb 7031 00:00:00',
       '01 May 6584 00:00:00', '01 Apr 5118 00:00:00',
       '01 May 8786 00:00:00', '01 Feb 6943 00:00:00',
       '01 Feb 4391 00:00:00', '01 May 6457 00:00:00',
       '01 May 5892 00:00:00', '01 May 5327 00:00:00',
       '01 Feb 5447 00:00:00', '01 Feb 5887 00:00:00',
       '01 Apr 6142 00:00:00'], dtype=object)

In [34]:
all_data["Sub Total"] = (pd.to_numeric(all_data["Sub Total"], errors='coerce'))
all_data[all_data["Sub Total"].isna()]

,Order ID,Order Status,Product Name,Quantity,Unit Price,Total Price,Sub Total,Delivery Charge,Payment Method,Customer ID,Merchant,Order Time,Customer Country
2199,1983440000000,0,Coca cola vanille zero sucre canette 33cl,1,155.0,155.0,NaN,200200,CASH_PAY,4.118636e+06,6158523,2021-01-07 08:16:12,Algeria
2200,1983440000000,0,NOUARA flan choco 56g,1,25.0,25.0,NaN,200200,CASH_PAY,4.118636e+06,6158523,2021-01-07 08:16:12,Algeria
2201,1983440000000,0,OMO liq 2.25l,5,699.0,3495.0,NaN,200200,CASH_PAY,4.118636e+06,6158523,2021-01-07 08:16:12,Algeria
2202,1983440000000,0,03 fardeaux Ifri + 1 offert,1,480.0,480.0,NaN,200200,CASH_PAY,4.118636e+06,6158523,2021-01-07 08:16:12,Algeria
2211,3795630000000,0,03 fardeaux Ifri + 1 offert,1,480.0,480.0,NaN,200200,CASH_PAY,1.755834e+06,6158523,2021-01-07 08:38:25,Algeria
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29731,2646660391,0,Skor sucre roux 1kg,3,100.0,300.0,NaN,200200,NaN,8.378439e+09,23255526,2021-02-14 13:15:46,Algeria
29732,2646660391,0,Pantene 2en1 Lises & Soyeux 200ml,2,199.0,398.0,NaN,200200,NaN,8.378439e+09,23255526,2021-02-14 13:15:46,Algeria
29733,2646660391,0,Princesse anne mais doux 300g,2,180.0,360.0,NaN,200200,NaN,8.378439e+09,23255526,2021-02-14 13:15:46,Algeria
29734,2646660391,0,Fairy Liquide Vaisselle Original 650ml,1,299.0,299.0,NaN,200200,NaN,8.378439e+09,23255526,2021-02-14 13:15:46,Algeria
29735,2646660391,0,Wc one gel detartrant wc ocean 750ml,1,150.0,150.0,NaN,200200,NaN,8.378439e+09,23255526,2021-02-14 13:15:46,Algeria

For each <b>Order ID</b> there is a single <b>Sub Total</b> and it is:<br>
<b> Sub Total = sum(*Total Price) </b>

In [35]:
indexes = all_data[all_data["Sub Total"].isna()].index
total = all_data.groupby("Order ID")["Total Price"].sum()
orders = total.index
for index in indexes :
    order = all_data.loc[index, "Order ID"]
    if order in orders :
        all_data.loc[index, "Sub Total"] = total.loc[order]

all_data["Sub Total"].isna().sum()

0

Problem Solved !!

###  `Delivery Charge` column
It should be in a numeric type and we have to replace missing values

In [36]:
all_data[pd.to_numeric(all_data["Delivery Charge"], errors='coerce').isna()]["Delivery Charge"].unique()

array(['05 Sep 2021 00:00:0005 Sep 2021 00:00:00', nan], dtype=object)

In [37]:
all_data["Delivery Charge"] = (pd.to_numeric(all_data["Delivery Charge"], errors='coerce'))
all_data["Delivery Charge"].isna().sum()

85

In [38]:
all_data[all_data["Delivery Charge"].isna()]

,Order ID,Order Status,Product Name,Quantity,Unit Price,Total Price,Sub Total,Delivery Charge,Payment Method,Customer ID,Merchant,Order Time,Customer Country
2091,8346601,1,Bimo galette senior 300g,4,1.50,6.00,8.84,NaN,CARD_PAY,5554728.0,20152545,2021-01-06 17:28:27,France
2092,8346601,1,Flan Fraise NOUARA 50g,4,0.71,2.84,8.84,NaN,CARD_PAY,5554728.0,20152545,2021-01-06 17:28:27,France
6444,2466371431,1,Flan Fraise NOUARA 50g,6,0.71,4.26,25.85,NaN,CARD_PAY,5554728.0,20152545,2021-01-16 07:31:24,France
6445,2466371431,1,Smen Medina 500g,1,2.37,2.37,25.85,NaN,CARD_PAY,5554728.0,20152545,2021-01-16 07:31:24,France
6446,2466371431,1,Vinaigre Barco 200ml,1,0.62,0.62,25.85,NaN,CARD_PAY,5554728.0,20152545,2021-01-16 07:31:24,France
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21283,3661233955,1,Bimo galette senior 300g,4,1.50,6.00,6.00,NaN,CARD_PAY,7409552.0,20152545,2021-01-14 07:10:40,France
24976,3773999310,1,Recharge Mobilis 1000 DA,1,1100.00,1100.00,1100.00,NaN,NaN,8155604.0,22539111,2021-01-22 12:55:37,Algeria
28441,12521320561,1,Bimo galette senior 300g,6,1.50,9.00,14.61,NaN,CARD_PAY,7729196.0,20152545,2021-02-06 13:15:20,France
28442,12521320561,1,Creme de Riz MHALBI 120g,2,0.93,1.86,14.61,NaN,CARD_PAY,7729196.0,20152545,2021-02-06 13:15:20,France
28443,12521320561,1,Miel Nounours 1kg,3,1.25,3.75,14.61,NaN,CARD_PAY,7729196.0,20152545,2021-02-06 13:15:20,France

I noticed there is a <b>date range</b> where the delivery charge is null. <br>
I decided to dig more.

In [39]:
all_data[all_data["Delivery Charge"]==0]["Order Time"].value_counts()

2021-01-04 11:16:19    41
2021-01-02 11:42:28    32
2021-01-04 14:21:27    31
2021-01-01 14:10:59    26
2021-01-07 09:16:49    21
2021-01-03 15:03:10     8
2021-01-04 13:45:17     4
2021-01-05 15:10:46     4
2021-01-06 10:27:19     4
2021-02-02 18:01:23     3
2021-01-07 10:30:23     3
2021-01-04 09:37:41     2
2021-02-12 11:35:13     2
2021-01-07 08:35:59     1
2021-01-07 12:29:16     1
2021-01-02 14:00:01     1
2021-01-15 09:04:30     1
2021-01-15 09:00:51     1
2021-01-08 08:58:48     1
2021-01-07 16:50:15     1
2021-01-07 15:04:36     1
2021-01-07 12:39:03     1
2021-01-03 11:16:24     1
2021-01-03 11:52:50     1
2021-01-06 13:32:20     1
2021-01-06 13:16:31     1
2021-01-03 15:18:38     1
2021-01-05 13:52:14     1
2021-01-19 14:01:46     1
2021-01-12 13:59:54     1
2021-01-06 12:18:18     1
2021-01-07 15:53:25     1
2021-01-12 13:47:28     1
Name: Order Time, dtype: int64

In [40]:
all_data[all_data["Delivery Charge"].isna()]["Order Time"].value_counts()

2021-02-05 12:00:14    20
2021-02-01 23:07:28    16
2021-02-06 14:47:46    13
2021-02-08 20:21:21    11
2021-01-21 15:26:27     8
2021-01-16 07:31:24     6
2021-02-06 13:15:20     3
2021-01-06 17:28:27     2
2021-02-02 15:00:56     2
2021-02-05 11:56:51     1
2021-02-05 11:58:02     1
2021-01-14 07:10:40     1
2021-01-22 12:55:37     1
Name: Order Time, dtype: int64

In [41]:
all_data[(all_data["Order Time"]<"2021-02-09") & (all_data["Order Time"]>"2021-01-03")]["Delivery Charge"].isna().sum()

85

<br>We can see that in the same <b>date range</b> of the missing values there is all the <b>free</b> deliveries.<br>
So, I decided to replace missing values with <b>0</b>.

In [42]:
all_data["Delivery Charge"] = all_data["Delivery Charge"].fillna(0)

### `Payment Method` column
We should deal with missing values and then make it categorcial

In [43]:
all_data ["Payment Method"].unique()

array(['CASH_PAY', 'CARD_PAY', 'CASH', nan, '0'], dtype=object)

In [44]:
all_data["Payment Method"] = all_data["Payment Method"].str.strip("0").replace('', np.nan)
display(all_data["Payment Method"].unique())
all_data["Payment Method"].isna().sum()

array(['CASH_PAY', 'CARD_PAY', 'CASH', nan], dtype=object)

551

The customer pays an order which has an <b>Order ID</b> with a single <b>Payment Method</b>.<br>
I decided to look in orders with missing payment method and see if there is a payment method value in <b>other rows</b>.

In [45]:
orders = all_data[all_data["Payment Method"].isna()]["Order ID"].unique()
indexes = all_data[all_data["Payment Method"].isna()].index
for index in indexes :
    order = all_data.loc[index, "Order ID"]
    a = all_data[all_data["Order ID"]==order]["Payment Method"].mode()
    if len(a) != 0 & order in orders :
        all_data.loc[index, "Payment Method"] = a
all_data["Payment Method"].isna().sum()

551

Unfortanitly, all rows of these orders has a <b>missing `Payment Method` cell</b>

Now, I decided to replace payment method with the most frequent method the customer usually use

In [46]:
customers = all_data[all_data["Payment Method"].isna()]["Customer ID"].unique()
indexes = all_data[all_data["Payment Method"].isna()].index
for index in indexes :
    customer = all_data.loc[index, "Customer ID"]
    a = all_data[all_data["Customer ID"]==customer]["Payment Method"].mode().values
    if len(a) != 0 :
        if customer in customers :
            all_data.loc[index, "Payment Method"] = a
all_data["Payment Method"].isna().sum()

86

In [47]:
all_data[all_data["Payment Method"].isna()]["Customer ID"].unique()

array([5441768., 6335340.])

These 2 customers are the only ones who never mentioned their Payment Method.<br>
I decided to fill their values with the frequent payment method in their country.

In [48]:
customers_no_pm = all_data[all_data["Payment Method"].isna()]["Customer ID"].unique()
for customer in customers_no_pm :
    print(all_data[all_data["Customer ID"]==customer]["Customer Country"].unique())

['Algeria']
['Algeria']

In [49]:
indexes = all_data[all_data["Payment Method"].isna()].index
for index in indexes :
    all_data.loc[index, "Payment Method"] = all_data[all_data["Customer Country"]=="Algeria"]["Payment Method"].mode().values
all_data["Payment Method"].isna().sum()

0

In [50]:
payment = all_data["Payment Method"].value_counts()
d = [go.Bar(
        x = payment.index, # index = category name
        y = payment.values, # value = count
)]
# plotly.offline.iplot(d)

<img src="newplot (2).png"><br>

Now lets make it <b>categorical</b>

In [51]:
categories = all_data["Payment Method"].unique()
i=0
for category in categories :
    all_data["Payment Method"] = all_data["Payment Method"].replace(category, i)
    i=i+1
all_data["Payment Method"].unique()

array([0, 1, 2], dtype=int64)

### `Order Time` column 
It should be in datetime type

In [52]:
all_data[pd.to_datetime(all_data["Order Time"], errors='coerce').isna()]["Order Time"].unique()

array([], dtype=object)

In [53]:
all_data["Order Time"] = pd.to_datetime(all_data["Order Time"], errors='coerce')

### `Customer Country` column
We should deal with missing values and then make it categorcial

The customer orders an <b>Order ID</b> from a single <b>Country</b>.<br>
I decided to look in orders with missing country values and see if there is a country value in <b>other rows</b>.

In [54]:
all_data["Customer Country"].isna().sum()

79

In [55]:
orders = all_data[all_data["Customer Country"].isna()]["Order ID"].unique()
indexes = all_data[all_data["Customer Country"].isna()].index
for index in indexes :
    order = all_data.loc[index, "Order ID"]
    a = all_data[all_data["Order ID"]==order]["Customer Country"].mode()
    if len(a) != 0 & order in orders :
        all_data.loc[index, "Customer Country"] = a
all_data["Customer Country"].isna().sum()

79

Unfortanitly, all rows of these orders has a <b>missing `Customer Country` cell</b>

Each Customer <b>generally</b> lives in one Country and from there makes many orders.<br>
I decided to replace NaN values with a country value in <b>other rows</b> of the customer if he has only purchased from a single country.

In [56]:
customers = all_data[all_data["Customer Country"].isna()]["Customer ID"].unique()
indexes = all_data[all_data["Customer Country"].isna()].index
for index in indexes :
    customer = all_data.loc[index, "Customer ID"]
    a = all_data[all_data["Customer ID"]==customer]["Customer Country"].mode().values
    if len(a) == 1 :
        if customer in customers :
            all_data.loc[index, "Customer Country"] = a
all_data["Customer Country"].isna().sum()

63

There are still rows with missing country values<br>
I decided to fill it with the most frequent country in the dataset.

In [57]:
all_data["Customer Country"].mode().values[0]

'Algeria'

In [58]:
all_data["Customer Country"] = all_data["Customer Country"].fillna(all_data["Customer Country"].mode().values[0])
all_data["Customer Country"].isna().sum()

0

In [59]:
country = all_data["Customer Country"].value_counts()
d = [go.Bar(
        x = country.index, # index = category name
        y = country.values, # value = count
)]
# plotly.offline.iplot(d)

<img src="newplot (3).png"><br>

In [60]:
p = np.round(all_data["Customer Country"].value_counts()["Algeria"] / all_data.shape[0] * 100 , 2)
print("Algeria is present in the data with ", p,"%")

Algeria is present in the data with  97.88 %

I will replace all other countries by 0 and Algeria by 1.<br>
So it wil be <b>`1` for Algeria</b> and <b>`0` for other countries</b>.

In [61]:
countries = all_data["Customer Country"].unique()
for country in countries :
    if country == "Algeria":
        all_data["Customer Country"] = all_data["Customer Country"].replace(country, 1)
    else :
        all_data["Customer Country"] = all_data["Customer Country"].replace(country, 0)
all_data["Customer Country"].value_counts()

1    28655
0      621
Name: Customer Country, dtype: int64

### `Product Name` column
No missing values so we should only make it categorical

In [62]:
all_data["Product Name"].value_counts()

03 fardeaux Ifri + 1 offert                                                                   277
2 Fardeaux Ifri                                                                               274
03 Fardeaux Ifri + 1 Offert                                                                   260
IFRI eau minerale 1.5l x 6                                                                    173
SKOR sucre 5kg                                                                                151
                                                                                             ...
BLEDILAIT 3 grand format 1.2kg                                                                  1
Promo: 1 Depoussierant O'CEDAR + 1 Detachant textile VANISH + 1 Savon Antibacterien Dettol      1
Zambak Plastik - Ensemble Maxitablet Mop - Seau Magique + Balai Ã Plat 360Â° - Bleu             1
MOLFIX mm n1/40pcs                                                                              1
Airpods I15 Original                                                                            1
Name: Product Name, Length: 3450, dtype: int64

<br>I chose to ignore products with <b>less than 10 counts</b> (I will consider them as "Other products")

In [63]:
product_set = pd. DataFrame(all_data["Product Name"].value_counts())
product_set = product_set.rename(columns={"Product Name" : "Count"})
products = product_set[product_set["Count"]>10].index
products1 = product_set[product_set["Count"]<=10].index
products

Index(['03 fardeaux Ifri + 1 offert', '2 Fardeaux Ifri',
       '03 Fardeaux Ifri + 1 Offert', 'IFRI eau minerale 1.5l x 6',
       'SKOR sucre 5kg', 'SIM spaghetti NÂ°7 500g', 'Elio 5L',
       'CANDIA lait partiellement ecreme 1l', 'Test Javel 1L',
       'Viande hachee 250 Gr',
       ...
       'Kool 80g', 'DANONE danino 100g', 'AL RAAI beurre 200g',
       'FANTA citron 1l', 'Recharge ooredoo 4000DA', '1001 cafe 250g',
       'RICAMAR thon 3pcs', 'Concombres 250gr',
       'DANONE yaourt aromatise - cocktail 95g', 'Haricots Verts 250gr'],
      dtype='object', length=782)

In [64]:
j=0
for product in products :
    all_data["Product Name"] = all_data["Product Name"].replace(product, j)
    j= j + 1
for product in products1 :
    all_data["Product Name"] = all_data["Product Name"].replace(product, products.shape[0])
all_data["Product Name"].value_counts()

782    8124
0       277
1       274
2       260
3       173
       ...
776      11
740      11
762      11
736      11
777      11
Name: Product Name, Length: 783, dtype: int64

### Verifying my cleaning result

In [65]:
summary(all_data)

              Column       Data type  null  %null
0           Order ID           int64     0    0.0
1       Order Status           int64     0    0.0
2       Product Name           int64     0    0.0
3           Quantity           int64     0    0.0
4         Unit Price         float64     0    0.0
5        Total Price         float64     0    0.0
6          Sub Total         float64     0    0.0
7    Delivery Charge         float64     0    0.0
8     Payment Method           int64     0    0.0
9        Customer ID         float64     0    0.0
10          Merchant           int64     0    0.0
11        Order Time  datetime64[ns]     0    0.0
12  Customer Country           int64     0    0.0